:root{

    --principal: #DE423A;
    --blanco:#fff;
    --secundario: #f7f7f7;
    --footer: #222;

}

body{
    font-family: 'Orbitron', sans-serif;
}


/*header*/




/*estilos pagina*/

.bg_imagen{

    background-image: url("../img/tira\ logo_Mesa\ de\ trabajo\ 1.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 38vh;

}


.bg_imagenes{

    background-image: url("../img/img1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

}




.bg_imagenes .bg_opacidad{

    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    position: absolute;
    z-index: 1;

}

.bg_imagenes h1,
.bg_imagenes a{

    z-index: 10;

}

.bg_imagenes h1{

    color: var(--blanco);

}

.bg_imagenes a{

    color: var(--blanco);
    border: var(--principal) 1px solid;
    border-radius: 50px;
    text-decoration: none;
    transition: all 300ms linear;

}

.bg_imagenes a:hover{

    transform: scale(1.05);

}


/*ESTILOS SECCION SERVICIOS*/

.container-fluid .linea_servicios{

    max-width: 150px;
    border: 5px solid var(--principal);
    border-radius: 30px;
    background-color: var(--principal);

}

.container-fluid .row .item_servicio{

    background-color: var(--secundario);
    border: solid var(--principal) 1px;
    border-radius: 5px;

}

.container-fluid .row .col .titul_item_serv i{

    color: var(--principal);

}






footer{

    background-color: var(--footer);
    color: white;

}

footer .row .col ul li{

    background-color: transparent;
    color: white;

}

